@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/OpenSansCondensed-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('assets/OpenSansCondensed-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('assets/OpenSansCondensed-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

.App {
  height: 100%;
  float:left;
  width: 100%;
  font-family: 'Open Sans Light';
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h1 {
  width: 100%;
  text-align: center;
}

.appDimmer {
  border:1px solid #e8e8e8;
  padding: 30px 0;
  background:white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.activityTypeWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.activityTypeWrapper select {
  height: 50px;
  margin-left: 20px;
}

button {
  background: #fc0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 22px;
  font-family: 'Open Sans Light';
  font-weight: 500;
}

.activityWrapper {
  width: 100%;
  margin: 30px;
}